---
import { formatDate } from '~/lib/utils'
import { clsx } from 'clsx'
import type { CollectionEntry } from 'astro:content'

interface Props {
  frontmatter: CollectionEntry<'writing'>['data']
}

const { frontmatter } = Astro.props
const today = new Date()
const publishedDate = new Date(frontmatter.date)
const timeDiffInMs = today.getTime() - publishedDate.getTime()
const twoYearsInMs = 730 * 24 * 60 * 60 * 1000
const archived = timeDiffInMs >= twoYearsInMs
---

<>
  {
    archived && (
      <div class="max-w-prose pb-6">
        <blockquote class="border-orange-600 bg-orange-900 text-zinc-300">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="mr-2 inline-block h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
            />
          </svg>
          Content has not been updated for more than 2 years, proceed with
          caution.
        </blockquote>
      </div>
    )
  }
  <div
    class="relative z-10 order-first mb-3 mt-0 flex items-center pl-3.5 text-base text-zinc-450"
  >
    <span
      class="absolute inset-y-0 left-0 flex items-center"
      aria-hidden="true"
    >
      <span
        class={clsx(
          'w-0.5 rounded-full bg-zinc-500',
          frontmatter.updated ? 'h-10' : 'h-4',
        )}></span>
    </span>
    <div class="leading-snug">
      <time date-time={frontmatter.date}>
        {formatDate(frontmatter.date)}
      </time>
      {
        frontmatter.updated && (
          <>
            <br />
            Updated{' '}
            <time date-time={frontmatter.updated}>
              {formatDate(frontmatter.updated)}
            </time>
          </>
        )
      }
    </div>
  </div>
  <h1
    class="mt-0 text-3xl font-bold uppercase text-zinc-100 md:text-4xl lg:text-5xl"
  >
    {frontmatter.title}
  </h1>
  {
    (frontmatter.demo || frontmatter.repo) && (
      <div class="flex">
        {frontmatter.demo && (
          <a href={frontmatter.demo}>
            <span class="mr-4 inline-flex items-center gap-x-1.5 rounded-md px-2 py-1 text-xs font-medium text-zinc-300 ring-1 ring-inset ring-gray-600 hover:bg-zinc-800">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-5 w-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"
                />
              </svg>
              Project demo
            </span>
          </a>
        )}
        {frontmatter.repo && (
          <a href={frontmatter.repo}>
            <span class="inline-flex items-center gap-x-1.5 rounded-md px-2 py-1 text-xs font-medium text-zinc-300 ring-1 ring-inset ring-gray-600 hover:bg-zinc-800">
              <svg
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="h-5 w-5 fill-zinc-400 transition group-hover:fill-sky-300"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 2C6.475 2 2 6.588 2 12.253c0 4.537 2.862 8.369 6.838 9.727.5.09.687-.218.687-.487 0-.243-.013-1.05-.013-1.91C7 20.059 6.35 18.957 6.15 18.38c-.113-.295-.6-1.205-1.025-1.448-.35-.192-.85-.667-.013-.68.788-.012 1.35.744 1.538 1.051.9 1.551 2.338 1.116 2.912.846.088-.666.35-1.115.638-1.371-2.225-.256-4.55-1.14-4.55-5.062 0-1.115.387-2.038 1.025-2.756-.1-.256-.45-1.307.1-2.717 0 0 .837-.269 2.75 1.051.8-.23 1.65-.346 2.5-.346.85 0 1.7.115 2.5.346 1.912-1.333 2.75-1.05 2.75-1.05.55 1.409.2 2.46.1 2.716.637.718 1.025 1.628 1.025 2.756 0 3.934-2.337 4.806-4.562 5.062.362.32.675.936.675 1.897 0 1.371-.013 2.473-.013 2.82 0 .268.188.589.688.486a10.039 10.039 0 0 0 4.932-3.74A10.447 10.447 0 0 0 22 12.253C22 6.588 17.525 2 12 2Z"
                />
              </svg>
              Project code
            </span>
          </a>
        )}
      </div>
    )
  }
</>
