---
import RootLayout from './RootLayout.astro'
import DesktopHeader from '../components/header/DesktopHeader.astro'
import MobileHeader from '../components/header/MobileHeader.astro'
import DesktopNav from '../components/DesktopNav.astro'
import MobileNav from '../components/MobileNav.astro'
import Footer from '../components/Footer.astro'
import BlogHeader from '../components/BlogHeader.astro'

const { frontmatter } = Astro.props
const ogImageURL = new URL(
  `/api/og-image/?title=${encodeURI(frontmatter.title)}`,
  Astro.site
)
---

<RootLayout
  title={frontmatter.title}
  description={frontmatter.description}
  ogImageURL={ogImageURL}
>
  <div>
    <DesktopHeader />
    <MobileHeader />
    <MobileNav />
    <div class="mt-36 md:mt-56 lg:mt-60 lg:grid lg:grid-cols-9">
      <DesktopNav />
      <main
        class="md:prose-lg prose relative prose-pre:mb-7 prose-pre:rounded-sm lg:col-start-3 lg:col-end-10 lg:row-start-1 lg:row-end-2"
      >
        <div class="grid grid-cols-9 gap-x-8">
          <div class="col-start-1 col-end-10 row-start-1 row-end-2">
            <BlogHeader frontmatter={frontmatter} />
          </div>
          <div
            class="col-start-1 col-end-10 row-start-2 row-end-3 max-w-2xl px-4 md:col-end-7 lg:col-end-8"
          >
            <slot />
          </div>
          <div
            class="not-prose lg:cold-start-8 sticky top-[150px] col-start-7 col-end-10 row-start-2 row-end-3 mt-7 hidden self-start md:block"
          >
            <h2 class="text-xl font-bold uppercase text-zinc-100">
              Page contents
            </h2>
            <nav class="text-zinc-400">
              <ol>
                <li><a href="#">Bikes</a></li>
                <li><a href="#">BMX</a></li>
                <li><a href="#">Jump Bike 3000</a></li>
                <li><a href="#">Bikes</a></li>
                <li><a href="#">BMX</a></li>
                <li><a href="#">Jump Bike 3000</a></li>
                <li><a href="#">Bikes</a></li>
                <li><a href="#">BMX</a></li>
                <li><a href="#">Jump Bike 3000</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </main>
    </div>
  </div>
  <Footer />
</RootLayout>
