---
import RootLayout from './RootLayout.astro'
import DesktopHeader from '../components/header/DesktopHeader.astro'
import MobileHeader from '../components/header/MobileHeader.astro'
import DesktopNav from '../components/DesktopNav.astro'
import MobileNav from '../components/MobileNav.astro'
import Footer from '../components/Footer.astro'
import BlogHeader from '../components/BlogHeader.astro'

const { frontmatter } = Astro.props
const ogImageURL = new URL(
  `/api/og-image/?title=${encodeURI(frontmatter.title)}`,
  Astro.site
)
---

<RootLayout
  title={frontmatter.title}
  description={frontmatter.description}
  ogImageURL={ogImageURL}
>
  <div>
    <DesktopHeader />
    <MobileHeader />
    <MobileNav />
    <div class="mt-36 md:mt-56 lg:mt-60 lg:grid lg:grid-cols-9">
      <DesktopNav />
      <main
        class="md:prose-lg prose relative prose-pre:mb-7 prose-pre:rounded-sm lg:col-start-3 lg:col-end-10 lg:row-start-1 lg:row-end-2"
      >
        <BlogHeader frontmatter={frontmatter} />
        <div class="max-w-2xl px-4">
          <slot />
        </div>
      </main>
      <aside
        class="sticky top-0 col-start-8 col-end-10 row-start-1 row-end-2 mt-40 hidden self-start pt-[150px] lg:block"
      >
        <h2 class="text-xl font-bold uppercase text-zinc-100">Page contents</h2>
        <nav class="text-zinc-400">
          <ol>
            <li><a href="#">Bikes</a></li>
            <li><a href="#">BMX</a></li>
            <li><a href="#">Jump Bike 3000</a></li>
            <li><a href="#">Bikes</a></li>
            <li><a href="#">BMX</a></li>
            <li><a href="#">Jump Bike 3000</a></li>
            <li><a href="#">Bikes</a></li>
            <li><a href="#">BMX</a></li>
            <li><a href="#">Jump Bike 3000</a></li>
          </ol>
        </nav>
      </aside>
    </div>
  </div>
  <Footer />
</RootLayout>
